In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import cufflinks as cf
import plotly.plotly as py
import plotly.graph_objs as go
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [2]:
train = pd.read_csv('train.csv')

In [3]:
test = pd.read_csv('test.csv')

In [4]:
train.shape, test.shape

((9366, 18), (4801, 17))

In [5]:
train_copy = train.drop(['portfolio_id'],axis=1)

In [6]:
test_copy = test.drop(['portfolio_id'], axis=1)

In [7]:
train = train.drop([572,573])

In [8]:
train.hedge_value.value_counts()

False    2437
True     1228
Name: hedge_value, dtype: int64

In [9]:
train.head(10)

,portfolio_id,desk_id,office_id,pf_category,start_date,sold,country_code,euribor_rate,currency,libor_rate,bought,creation_date,indicator_code,sell_date,type,hedge_value,status,return
0,PF00001002,DSK00001001,OFF00001002,B,20040720,110000000.0,T,0.02074,USD,2.332216,1.098097e+08,20040720,NaN,20040812,B,NaN,NaN,0.02496
1,PF00001003,DSK00001002,OFF00001001,A,20040709,176671000.0,N,0.02074,GBP,5.269617,1.760084e+08,20040723,NaN,20040812,C,NaN,NaN,0.05496
2,PF00001005,DSK00001004,OFF00001001,A,20040723,56474000.0,T,0.02074,USD,2.332216,5.637953e+07,20040723,NaN,20040817,A,NaN,NaN,0.02496
3,PF00001006,DSK00001005,OFF00001001,A,20040609,164813000.0,T,0.02074,USD,2.332216,1.645088e+08,20040723,NaN,20040713,A,NaN,NaN,0.02496
4,PF00001007,DSK00001005,OFF00001002,B,20040609,140800000.0,T,0.02074,USD,2.332216,1.405402e+08,20040723,NaN,20040713,B,NaN,NaN,0.02496
5,PF00001008,DSK00001006,OFF00001001,A,20040707,48741000.0,T,0.02074,USD,2.332216,4.865127e+07,20040726,NaN,20040810,A,NaN,NaN,0.02490
6,PF00001010,DSK00001009,OFF00001001,A,20040706,60593500.0,T,0.02074,USD,2.332216,6.048181e+07,20040726,NaN,20040809,A,NaN,NaN,0.02493
7,PF00001011,DSK00001009,OFF00001002,B,20040706,134200000.0,T,0.02074,USD,2.332216,1.339526e+08,20040726,NaN,20040809,B,NaN,NaN,0.02493
8,PF00001012,DSK00001010,OFF00001001,A,20040419,82929000.0,T,0.02074,USD,2.332216,8.250616e+07,20040726,NaN,20040720,A,NaN,NaN,0.02460
9,PF00001016,DSK00001014,OFF00001001,A,20040414,212476000.0,T,0.02074,USD,2.332216,2.114140e+08,20040727,NaN,20040713,A,NaN,NaN,0.02466

In [10]:
train.isnull().sum()

portfolio_id         0
desk_id           3665
office_id            0
pf_category          0
start_date           0
sold                 0
country_code         0
euribor_rate         0
currency             0
libor_rate         474
bought               0
creation_date        0
indicator_code    5697
sell_date            0
type                 0
hedge_value       5699
status            3082
return               0
dtype: int64

In [10]:
train.desk_id = train['desk_id'].fillna(0)

In [ ]:
train.office_id = train.office_id.replace({'OFF00001002':2,'OFF00001001':1})

In [27]:
test.office_id = test.office_id.replace({'OFF00001002':2,'OFF00001001':1})

In [41]:
dict_train_desk_id = make_dummy(train)

In [42]:
dict_test_desk_id = make_dummy(test)